.container {
  display: flex;
}

button {
  all: unset;
  cursor: pointer;
}

.icon {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icon:hover {
  scale: 125%;
}
